<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <h4 style="padding: 12px 12px 0px;">Attach observation data</h4>
      <hr />
      <!-- <div style="padding: 0px 12px;">This is for existing sqlite datasets</div> -->
    </div>
    <!-- <br />-->
    <div class="row">
      <input class="btn" type="file" nv-file-select=""
        uploader="uploader" accept=".db" />
    </div>
    <br />
    <div class="row" style="overflow: auto">
      <button type="button" class="btn btn-info btn-s pull-right"
        ng-click="attach()" ng-disabled="!uploader.getNotUploadedItems().length"
        style="margin-left: 15px">Continue</button>
      <button type="button" class="btn btn-s pull-right"
        ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>