
<div class="main-container">
  <style type="text/css">
</style>
  <!-- Header Bar -->

  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">Set Rounds</div>
      </div>
      <a ng-click="clear()" class="btn btn-sm pull-right" href="#"
        onclick="return false;">Clear form</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="widget">
        <div class="widget-body">

          <div class="text-center has-feedback">
            <h4>Start Date</h4>
            <div style="display: inline-block; min-height: 290px;">
              <datepicker ng-model="roundModel.startdate"
                class="well well-sm" ng-change="checkEndDate()"
                show-weeks="false"></datepicker>
              <button class="btn btn-primary pull-right"
                ng-click="firstDayNextMonday()">Next Monday</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="widget">
        <div class="widget-body">
          <div class="text-center has-feedback">
            <h4>End Date</h4>
            <div style="display: inline-block; min-height: 290px;">
              <datepicker ng-model="roundModel.enddate"
                min-date="roundModel.startdate" show-weeks="false"
                data-date-today-highlight="true" class="well well-sm"></datepicker>
              <button class="btn btn-primary pull-right"
                ng-click="lastDayNextFriday()">Next Friday</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="widget">
        <div class="widget-body">
          <label for="label" class="col-sm-4 control-label">Round
            duration (minutes)</label>
          <div class="col-sm-2">
            <input type="text" class="form-control"
              ng-model="roundModel.duration" required />
          </div>
          <div class="col-sm-1" ng-repeat="duration in defaultDurations">
            <button class="btn btn-primary pull-right"
              ng-click="roundModel.duration = duration">{{duration}}</button>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="widget">
        <div class="widget-body">
          <h4>Round start times</h4>
          <hr />
          <div class="row" ng-repeat="round in roundModel.rounds">
            <label class="col-sm-4 control-label"
              style="text-align: right; margin-top: 2.75em;">Round
              {{$index + 1}}</label>
            <div class="col-sm-3">
              <timepicker ng-model="round" ng-change="changed()"
                hour-step="hstep" minute-step="mstep"></timepicker>
            </div>
            <button class="btn col-sm-1" style="margin-top: 2.25em;"
              ng-click="deleteRound(round)">Delete</button>
          </div>
          <button ng-click="roundModel.rounds = [];"
            class="btn btn-primary pull-right">Delete all
            Rounds</button>
          <button ng-click="setDefaultRounds();"
            class="btn btn-primary pull-right">Add Default
            Rounds</button>
          <button ng-click="addRound();"
            class="btn btn-primary pull-right">Add Round</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button ng-click="cancel();" class="btn btn-sm">Cancel</button>
      <a ng-click="clear()" class="btn btn-sm" href="#"
        onclick="return false;">Clear form</a>
      <button ng-click="save()" class=" btn btn-primary pull-right">Save</button>

    </div>
  </div>
  <!-- End Main Content -->

</div>