
<div class="main-container">

  <!-- Header Bar -->
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="meta text-center">
        <h4 class="text-center">Projects</h4>
        <!-- <div class="breadcrumb-links">Home / Projects / Open
          Studies</div> -->
      </div>
      <!-- <div class="user pull-right">
        <div class="item dropdown">
          <a href="#" class="dropdown-toggle"> </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Joe Bloggs</li>
            <li class="divider"></li>
            <li class="link">
              <a href="#"> Profile </a>
            </li>
            <li class="link">
              <a href="#"> Menu Item </a>
            </li>
            <li class="link">
              <a href="#"> Menu Item </a>
            </li>
            <li class="divider"></li>
            <li class="link">
              <a href="#"> Logout </a>
            </li>
          </ul>
        </div>
        <div class="item dropdown">
          <a href="#" class="dropdown-toggle">
            <i class="fa fa-bell-o"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Notifications</li>
            <li class="divider"></li>
            <li>
              <a href="#">Server Down!</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        <div class="list-group-item" style="background-color: #F6F6F6;">

          <input ng-model="search" placeholder="Filter..." auto-focus />
          <a class="pull-right" ng-click="vm.addProject()" href=""
            tooltip="Create a new project">
            <i class="fa fa-plus"></i> New Project
          </a>
        </div>
        <div class="project-info list-group-item"
          ng-repeat="project in vm.projects | filter:search">
          <div>
            <h4>
              {{project.name}} <span dropdown on-toggle="toggled(open)">
                <a href="" style="display: inline-block; padding: 6px 0"
                  id="simple-dropdown" dropdown-toggle>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                  aria-labelledby="simple-dropdown">
                  <li>
                    <a ng-click="vm.addStudy(project)" href="">New
                      study</a>
                  </li>
                </ul>
              </span>
            </h4>
          </div>
          <span
            style="color: #ccc; position: absolute; top: 15px; right: 15px;">{{project.id}}</span>
          <div class="study-info row"
            ng-repeat="study in project.studies | orderBy:vm.predicate:reverse">
            <span dropdown on-toggle="toggled(open)"> <a href=""
                style="display: inline-block; padding: 6px 0"
                id="simple-dropdown" dropdown-toggle>
                {{study.created | date:'MMMM yyyy'}} <span
                  ng-if="study-type && study.type ==='post'">({{study.type}})</span><span
                  class="caret"></span>
              </a>
              <ul class="dropdown-menu"
                aria-labelledby="simple-dropdown">
                <li ng-if="study.status==='open'">
                  <a href="">Close study</a>
                </li>
                <li ng-if="study.status==='closed'">
                  <a href="">Open study</a>
                </li>
                <li>
                  <a ui-sref="study.view({studyid:study.id})">View
                    study details</a>
                </li>
              </ul>
            </span>
            <div ng-if="study.status==='open'"
              class="btn-group pull-right" dropdown
              is-open="datadropdown.isopen">
              <a type="button" class="btn btn-default" dropdown-toggle
                ng-disabled="disabled">
                Add data <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu"
                aria-labelledby="single-button">
                <li role="menuitem" style="text-align: right;">
                  <a href="" ng-click="vm.addObservationData(study)">Observation</a>
                </li>
                <li role="menuitem" style="text-align: right;">
                  <a href="" ng-click="vm.addPlans(study)">Plans /
                    Polygons</a>
                </li>
                <li role="menuitem" style="text-align: right;">
                  <a href="" ng-click="vm.addDepthmap(study)">Depthmap</a>
                </li>
                <!-- <li class="divider"></li> -->
                <li role="menuitem" style="text-align: right;">
                  <a href="" ng-click="vm.addStaffSurvey(study)">Staff
                    survey</a>
                </li>
                <li role="menuitem" style="text-align: right;">
                  <a href="" ng-click="vm.addStakeholders(study)">Stakeholder
                    Interviews</a>
                </li>
              </ul>
            </div>
            <a class="btn pull-right"
              ui-sref="study-issues({studyid:study.id})">Issues</a>
          </div>
          <!-- <a class="pull-right" style="clear: both;"
            tooltip="Add a new study to this project">
            <small>New Study <i class="fa fa-plus"></i></small>
          </a> -->
        </div>
      </div>
      <!-- <tbody>
          <tr ng-repeat-start="project in studies">
            <td class="text-center"
            rowspan="{{project.studies.length}}">{{project.studies[0].project_id}}</td>
            <td>{{study.id}}</td>
            <td>{{project.studies[0].type}}</td>
            <td>{{project.studies[0].status}}</td>
            <td class="text-center"><a
                ui-sref="allstudyissues({studyid:project.studies[0].id})">P&S
                Issues</a>&nbsp;|&nbsp;<a
                ng-click="addObservationData(project.studies[0])"
                href="">Add Gathered data</a>&nbsp;|&nbsp;<a
                ng-click="addPlans(project.studies[0])" href="">Add
                Plans/Polygons</a>&nbsp;|&nbsp;<a
                ng-click="addDepthmap(project.studies[0])" href="">Add
                Depthmap</a>&nbsp;|&nbsp;<a
                ng-click="addStaffSurvey(project.studies[0])" href="">Add
                Staff Survey</a>&nbsp;|&nbsp;<a
                ng-click="addStakeholders(project.studies[0])" href="">Add
                Stakeholders</a></td>
          </tr>
          <tr ng-repeat-end ng-if="project.studies.length > 1 && study.id != project.studies[0].id"
            ng-repeat="study in project.studies | orderBy:predicate:reverse | filter:search">
            <td class="text-center">{{study.project_id}}</td>
            <td>{{study.id}}</td>
            <td>{{study.type}}</td>
            <td>{{study.status}}</td>
            <td class="text-center"><a
                ui-sref="allstudyissues({studyid:study.id})">P&S
                Issues</a>&nbsp;|&nbsp;<a
                ng-click="addObservationData(study)" href="">Add
                Gathered data</a>&nbsp;|&nbsp;<a ng-click="addPlans(study)"
                href="">Add Plans/Polygons</a>&nbsp;|&nbsp;<a
                ng-click="addDepthmap(study)" href="">Add Depthmap</a>&nbsp;|&nbsp;<a
                ng-click="addStaffSurvey(study)" href="">Add Staff
                Survey</a>&nbsp;|&nbsp;<a ng-click="addStakeholders(study)"
                href="">Add Stakeholders</a></td>
          </tr>
        </tbody> -->
      <!-- </table>-->
    </div>
  </div>

</div>
