
<head>
<style>
.highlight {
	background-color: #F4A460;
}

.disabled {
	background-color: #eee;
	color: #ccc;
}
</style>
</head>
<body style="width: 1024px;">

  <!-- Header Bar -->

  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">Match {{types}}</div>
        <div class="breadcrumb-links">Home / Match {{types}}</div>
      </div>
    </div>
  </div>
  <!-- End Header Bar -->

  <div class="row">
    <div class="col-lg-12">
      <p>
        Match the {{types}} found in the file with the ones found in the
        database. First select one in the first list "In the file" and
        then select the corresponding one in the second list to be
        matched with in the database. <br> <br> If the
        {{type}} in the file is new and has no match on the database
        click on "{{capitalize(type)}} is new." <br> <br> If
        any of the {{types}} in the file should not go in the database
        click on "Ignore {{type}}"
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="widget">
        <div class="widget-title">
          <i class="fa fa-tasks"></i> In the file <input type="text"
            placeholder="Search"
            class="form-control input-sm pull-right"
            ng-model="searchElementsInFile" />
        </div>
        <div class="widget-body medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th ng-repeat="property in options.fromProperties">{{capitalize(property)}}</th>
                  <th>Matches</th>
                  <th ng-if="options.toMatchProperty">{{options.toMatchProperty.name}}</th>
                  <th>Valid</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-class="(element.selected) ? 'highlight' : ''"
                  ng-click="selectFrom(element)"
                  ng-repeat="element in fromElements | orderBy:inFilePredicate:reverse | filter:searchElementsInFile">
                  <td>{{element.alias}}</td>
                  <td ng-repeat="property in options.fromProperties">{{getElementProperty(element,property)}}</td>
                  <td ng-class="(element.match) ? 'success' : 'danger'">{{getElementMatch(element)}}</td>
                  <td ng-class="(element.match) ? 'success' : 'danger'"
                    ng-if="options.toMatchProperty">{{element.match
                    ?
                    getElementProperty(element.match,options.toMatchProperty.name)
                    : ''}}</td>
                  <td ng-class="(element.match) ? 'success' : 'danger'"><span
                    ng-class="(element.match) ? 'text-success' : 'text-danger'"><i
                      class="fa"
                      ng-class="(element.match) ? 'fa-check' : 'fa-warning'"
                      tooltip="{{getValidityTooltip(element)}}"></i></span> <!-- 
                    <span class="text-success"><i
                      class="fa fa-check"></i></span>--></td>
                  <td><a class="btn"
                      ng-class="element.state == 'ignored'? 'btn-primary':''"
                      ng-click="element.state = 'ignored'">Ignore</a> <!-- <a
                      class="btn"
                      ng-class="element.state == 'overwrite'? 'btn-primary':''"
                      ng-click="element.state = 'overwrite'">Overwrite</a> -->
                    <a ng-show="options.allowManualEnty" class="btn"
                      ng-click="setValueManually(element)">Set value</a>
                    <a ng-show="options.allowManualEnty" class="btn"
                      ng-click="element.match = undefined">Clear</a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="widget-footer">
          <a class="btn pull-right" ng-click="selectedElementIgnore()"
            href="#" onclick="return false;">Ignore {{type}}</a>
          <a class="btn pull-right" ng-click="selectedElementIsNew()"
            href="#" onclick="return false;">{{capitalize(type)}} is
            new</a>
          <a class="btn pull-right" ng-click="reset()" href="#"
            onclick="return false;">Reset All</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="widget">
        <div class="widget-title">
          <i class="fa fa-tasks"></i>In the database <input type="text"
            placeholder="Search"
            class="form-control input-sm pull-right"
            ng-model="searchElementsInDB" />
        </div>
        <div class="widget-body medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Measure</th>
                  <th ng-repeat="property in options.toProperties">{{capitalize(property)}}</th>
                  <th>Matches</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-class="getElementState(element)"
                  ng-click="selectTo(element)"
                  ng-repeat="element in toElements | orderBy:inDBPredicate:reverse | filter:searchElementsInDB">
                  <td>{{element.alias}}</td>
                  <td ng-repeat="property in options.toProperties">{{element[property]}}</td>
                  <td>{{element.match.alias}}</td>
                  <!-- <td><span
                    ng-class="(element.match) ? 'text-success' : 'text-danger'"><i
                      class="fa"
                      ng-class="(element.match) ? 'fa-check' : 'fa-warning'"
                      tooltip="{{getValidityTooltip(element)}}"></i></span> 
                    <span class="text-success"><i
                      class="fa fa-check"></i></span></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="widget-footer">
          <a class="btn pull-right" ng-click="deselect()" href="#"
            onclick="return false;">Deselect</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-sm btn-info pull-right" ng-click="attach()"
        ng-disabled="dataInvalid()">Attach</button>

    </div>
  </div>
</body>
