
<head>
<title>Observation setup</title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="study/plans/setup.css" />
<style>
.highlight {
	background-color: #F4A460;
}
</style>
</head>
<body style="width: 1024px;">

  <!-- Header Bar -->

  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">Attach depthmap</div>
        <div class="breadcrumb-links">Home / Attach depthmap</div>
        <!-- <br> <span>Complete all fields and press submit at
          the end. A quick validation is done on-the-fly and a more
          thorough one after submitting</span> -->
      </div>
    </div>
  </div>
  <!-- End Header Bar -->

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-body">
              <form action="upload_file.php" method="post"
                enctype="multipart/form-data" ng-model="properties">
                <div style="float: left">
                  <label>Select Depthmap CSV File</label><input
                    type="file" name="depthmapcsv" id="depthmapcsv"
                    nv-file-select="" uploader="csvuploader"
                    accept="text/csv"></input>
                </div>
                <span class="text-success clearfix"><i
                  class="fa fa-2x"
                  ng-class="(measures && measures.length > 0) ? 'fa-check' : ''"></i></span><br>
                <br>
                <div style="float: left">
                  <label>Select DXF used to make map</label><input
                    type="file" name="depthmapdxf" id="depthmapdxf"
                    nv-file-select="" uploader="dxfuploader"
                    accept="image/vnd.dxf"></input>
                </div>
                <span class="text-success clearfix"><i
                  class="fa fa-2x"
                  ng-class="(foundBasepoints && foundBasepoints.length > 0) ? 'fa-check' : ''"></i></span>

                <br>
                <div class="row has-feedback">
                  <label for="label" class="col-sm-4 control-label">Type</label>
                  <div class="col-sm-8">
                    <select class="form-control"
                      ng-model="properties.type">
                      <option selected disabled hidden value=''>
                      </option>
                      <option
                        ng-repeat="type in depthmapTypes | orderBy:predicate:reverse | filter:searchSpaces">{{type}}</option>
                    </select> <span class="fa form-control-feedback"></span>
                  </div>
                </div>
                <div class="row has-feedback">
                  <label for="label" class="col-sm-4 control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"
                      ng-model="properties.name" required /> <span
                      class="fa form-control-feedback"></span>
                  </div>
                </div>



              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-title">
              <i class="fa fa-tasks"></i> Spaces <input type="text"
                placeholder="Search"
                class="form-control input-sm pull-right"
                ng-model="searchSpaces" />
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Valid</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="space in foundBasepoints | orderBy:predicate:reverse | filter:searchSpaces">
                      <td>{{space.alias}}</td>
                      <td><span
                        ng-class="(space.valid) ? 'text-success' : 'text-danger'"><i
                          class="fa"
                          ng-class="(space.valid) ? 'fa-check' : 'fa-warning'"
                          tooltip="{{getSpaceValidityTooltip(space)}}"></i></span>
                        <!-- 
                    <span class="text-success"><i
                      class="fa fa-check"></i></span>--></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="widget-footer">
              <a class="btn pull-right" ng-click="selectAllSpaces()"
                href="#" onclick="return false;">Select all</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-title">
              <i class="fa fa-tasks"></i>Measures <input type="text"
                placeholder="Search"
                class="form-control input-sm pull-right"
                ng-model="searchMeasures" />
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Measure</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="layer in measures | orderBy:layerpredicate:reverse | filter:searchMeasures"">
                      <td>{{layer.name}}</td>
                      <td><span
                        ng-class="(layer.uploaded) ? 'text-success' : ''"><i
                          class="fa"
                          ng-class="(layer.uploaded) ? 'fa-check' : ''"></i></span>
                        <!-- 
                    <span class="text-success"><i
                      class="fa fa-check"></i></span>--></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="widget-footer">
              <a class="btn pull-right"
                ng-click="deleteSelectedSpaces(study)" href="#"
                onclick="return false;">Delete selected</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-sm btn-info pull-right"
        ng-click="submit(study)" ng-disabled="dataInvalid()">Attach</button>

    </div>
  </div>
</body>
