
<head>
<title>Observation setup</title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="study/plans/setup.css" />
<style>
.highlight {
	background-color: #F4A460;
}
</style>
</head>
<body style="width: 1024px;">

  <!-- Header Bar -->

  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">Attach staff survey</div>
        <div class="breadcrumb-links">Home / Attach staff survey</div>
      </div>
    </div>
  </div>
  <!-- End Header Bar -->

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-body">
              <form action="upload_file.php" method="post"
                enctype="multipart/form-data">
                <div style="float: left">
                  <label>Select Staff Survey VNA File</label><input
                    type="file" name="staffsurveyvna"
                    id="staffsurveyvna" nv-file-select=""
                    uploader="vnauploader" accept="text/vna"></input>
                </div>
                <span class="text-success clearfix"><i
                  class="fa fa-2x"
                  ng-class="(measures && measures.length > 0) ? 'fa-check' : ''"></i></span><br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-title">
              <i class="fa fa-tasks"></i> Staff ({{getCompleted()}}%
              completed) <input type="text" placeholder="Search"
                class="form-control input-sm pull-right"
                ng-model="searchSpaces" />
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Position</th>
                      <th>Completed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="person in staff | orderBy:predicate:reverse | filter:searchSpaces">
                      <td>{{person.name}}</td>
                      <td>{{person.department}}</td>
                      <td>{{person.position}}</td>
                      <td><span
                        ng-class="(person.completed) ? 'text-success' : ''"><i
                          class="fa"
                          ng-class="(person.completed) ? 'fa-check' : ''"></i></span>
                        <!-- 
                    <span class="text-success"><i
                      class="fa fa-check"></i></span>--></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="widget-footer">
              <a class="btn pull-right" ng-click="selectAllSpaces()"
                href="#" onclick="return false;">Select all</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-title">
              <i class="fa fa-tasks"></i>Questions <input type="text"
                placeholder="Search"
                class="form-control input-sm pull-right"
                ng-model="searchMeasures" />
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Question</th>
                      <th>Answered</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="question in questions | orderBy:layerpredicate:reverse | filter:searchMeasures"">
                      <td>{{question.name}}</td>
                      <td>{{question.answered}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="widget-footer">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-sm btn-info pull-right"
        ng-click="addDXF(study)" ng-disabled="dataInvalid()">Attach</button>

    </div>
  </div>
</body>
