<div class="main-container">
  <div class="row header">
    <div class="col-xs-12 meta">
      <div class="page text-center">Add spatial function</div>
    </div>
  </div>
  <form class="form-horizontal" role="form" ng-submit="vm.add();">
    <div class="row">
      <div class="col-lg-12">
        <div class="row has-feedback">
          <label for="label" class="col-xs-2 control-label"
            tooltip="The abbreviated alias used in the DXF (i.e MTG-BKB)">ID</label>
          <div class="col-xs-10">
            <input type="text" class="form-control"
              ng-model="vm.func.alias" required /> <span
              class="fa form-control-feedback"></span>
          </div>
        </div>
        <div class="row has-feedback">
          <label for="label" class="col-xs-2 control-label"
            tooltip="The full name of the spatial function (i.e Bookable Meeting Space)">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control"
              ng-model="vm.func.name" required /> <span
              class="fa form-control-feedback"></span>
          </div>
        </div>
        <div class="row has-feedback">
          <label for="label" class="col-xs-2 control-label">Colour</label>
          <div class="col-xs-7">
            <input class="form-control" colorpicker type="text"
              ng-model="vm.func.colour" />
          </div>
          <div class="col-xs-3">
            <div class="col-xs-12"
              style="height: 34px; background-color: {{;vm.func.colour}}">&nbsp;</div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <button type="button" ng-click="vm.cancel();"
                class="btn btn-default">Cancel</button>
              <input type="submit" class=" btn btn-info" value="Create" />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>