<!DOCTYPE html>
<html lang="en">
<div class="main-container">
    <style type="text/css">
    </style>
    <!-- Header Bar -->

    <div class="row header">
        <div class="col-xs-12">
            <div class="meta pull-centre">
                <div class="page">Set Up Devices</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-body">
                    <h4>Configured Devices</h4>
                    <hr/>
                    <div class="row" ng-repeat="devicePlan in devicesSetup.devicePlans">
                        <div class="col-lg-12">
                            {{devicePlan.device_name}} : {{devicePlan.file_path}}
                        </div>
                        <button class="btn col-sm-1" style="margin-top: 2.25em;"
                                ng-click="devicesSetup.deleteDevicePlan(devicePlan)">Delete
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <select ng-model="devicesSetup.selectedId" class="form-control" ng-options="device.name as device.name for device in devicesSetup.devices">
            <option value="">select</option>
        </select>
    </div>
    <div class="row">
        <input class="btn" type="file" nv-file-select="" uploader="devicesSetup.uploader" accept=".dxf" />
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-info btn-s pull-right" ng-click="devicesSetup.attach()"
                    ng-disabled="!devicesSetup.uploader.getNotUploadedItems().length"
                    style="margin-left: 15px">Set Up Device</button>
        </div>
    </div>
</div>
</html>