<div class="main-container">
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">Edit Metric</div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="myPopoverTemplate.html">
          <button ng-click="addCharacter('²')"><sup>2</sup></button>
          <button ng-click="addCharacter('³')"><sup>3</sup></button>
    </script>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-horizontal" role="form" ng-submit="ok();">
        <div class="form-group ">
          <label for="label" class="col-sm-2 control-label"
            tooltip="The title of the metric">Title</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              ng-model="metric.title" /> <span
              class="fa form-control-feedback"></span>
          </div>
          <div class="col-sm-2">
            <button type="button"
              popover-template="'myPopoverTemplate.html'"
              ng-click="setCurrentModel('title')" type="button"
              class="btn btn-default">
              <i class="fa fa-gbp"></i>
            </button>
          </div>
        </div>
        <div class="form-group ">
          <label for="label" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              ng-model="metric.description" /> <span
              class="fa form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group ">
          <label for="label" class="col-sm-2 control-label">Units</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              ng-model="metric.units" /> <span
              class="fa form-control-feedback"></span>
          </div>
          <div class="col-sm-2">
            <button type="button"
              popover-template="'myPopoverTemplate.html'"
              ng-click="setCurrentModel('units')" type="button"
              class="btn btn-default">
              <i class="fa fa-gbp"></i>
            </button>
          </div>
        </div>
        <div class="form-group ">
          <label for="label" class="col-sm-2 control-label">Units
            full</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              ng-model="metric.units_full" /> <span
              class="fa form-control-feedback"></span>
          </div>
          <div class="col-sm-2">
            <button type="button"
              popover-template="'myPopoverTemplate.html'"
              ng-click="setCurrentModel('units_full')" type="button"
              class="btn btn-default">
              <i class="fa fa-gbp"></i>
            </button>
          </div>
        </div>
        <div class="form-group ">
          <label for="label" class="col-sm-2 control-label">No.
            of decimals</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              ng-model="metric.no_of_decimals" /> <span
              class="fa form-control-feedback"></span>
          </div>
        </div>
        <hr />
        <div class="pull-right">
          <button type="button" ng-click="cancel();" class="btn">Cancel</button>
          <input type="submit" class=" btn btn-info" value="Submit" />
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>